/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .wp-core-ui .button-metomic {
	background: #58466D;
	border: 1px solid #3D334B;
	box-sizing: border-box;
	box-shadow: 0px 1.5px 0px #3D334B;
	border-radius: 2px;	
 }

 .wp-core-ui .button-metomic, .wp-core-ui .button-metomic-success, .wp-core-ui .button-metomic-danger {
	text-shadow: none;
	padding: 10px 20px;
	height: initial;
	font-size: 16px;
	line-height: 14px;
	/* identical to box height, or 87% */
	text-align: center;
	letter-spacing: 0.2px;
 }

 .wp-core-ui .button-metomic:hover {
	 background: #3D334B;
	 border: 1px solid #3D334B;
 }

.wp-core-ui .button-metomic-success {
	background: #08AC7A;
	border: 1px solid #0B7756;
	box-sizing: border-box;
	box-shadow: 0px 1.5px 0px #0B7756;
	border-radius: 2px;
	text-shadow: none;
	color: #FFFFFF;
}

.wp-core-ui .button-metomic-success:hover {
	background: #0B7756;
	border: 1px solid #0B7756;
	color: #FFFFFF;
}

.wp-core-ui .button-metomic-danger {
	background: #EB4967;
	border: 1px solid #AB2A42;
	box-sizing: border-box;
	box-shadow: 0px 1.5px 0px #AB2A42;
	border-radius: 2px;
	color: #FFFFFF;
}

.wp-core-ui .button-metomic-danger:hover {
	background: #AB2A42;
	border: 1px solid #AB2A42;
	color: #FFFFFF;
}

.metomic-config {
	padding-left: 18px;
	padding-top: 64px;
}

.metomic-config input {
	width: 241px;
}

.metomic-config h3 {
	font-size: 21px;
	line-height: 14px;
	/* identical to box height, or 64% */
	letter-spacing: 0.2px;

	color: #424242;
}

.metomic-config p {
	max-width: 775px;
	font-size: 14px;
	line-height: 20px;
	/* or 128% */
	letter-spacing: 0.2px;

	color: #424242;
}